<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('create post')"></head>

<body>

<form action="/posts/create" method="post">

    <h2>Create Post Form</h2>

    <br>

    <label for="title">Title</label>
    <input name="post_title" id="title" type="text">

    <br>

    <label for="body">body</label>
    <input name="post_body" id="body" type="text">

    <br>

    <input type="submit" value="create post">

    <br>

    <label for="title">Title</label>
    <input name="post_title" id="title" type="text">

    <br>

</form>

</body>
</html>