<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
        <div style="text-align: center; padding-top: 25%">
            <form>
                <div>
                    <input placeholder="Name" type="text" style="border: none; border-bottom: 2px solid green; font-size: larger; text-align: center">
                </div>
                <br>

                    <input placeholder="Email" type="text" style="border:none;border-bottom: 2px solid red; font-size: larger; text-align: center">

            </form>
        </div>
</body>
</html>