<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Frame</title>
</head>
<body>
        <h1> <span th:if="${name} == null" style="background-color: cornflowerblue">What's Up, Visitor</span></h1>
            <br>

        <h3 th:if="${name} != 'Walt'">Aww... So you're not

           <h1> <b style="color: #c80730" > Walter!</b> </h1>

        </h3>

            <br> <hr>

        <p> <span th:if="${name} == null"  style="color: darkorange">You are a <i>Visitor </i> to this page.</span>
        <p> <span th:if="${name} == null"  style="color: darkorange">You are a <i>Visitor </i> to this page.</span>
        <p> <span th:if="${name} == null"  style="color: darkorange">You are a <i>Visitor </i> to this page.</span>

        <p> <span th:if="${name} == null"  style="color: darkorange">You are a <i>Visitor </i> to this page.</span>

        </p>

<!--        <h1>What's Up, <span th:if="${name} == 'Walt'" style="background-color: cornflowerblue"></span>!</h1>-->
<!--        <br>-->





            <div>
                <h1 th:if="${name} == 'Walt'" style="color: blueviolet"> Hey Walter! <br>

                    Welcome to the page!
                </h1>

            </div>

        <div>
            <h1 th:if="${name} == 'Walt'" style="color: blueviolet"> Hey Walter! <br>

                Welcome to the page!
            </h1>

        </div>

            <div>

                <p th:if="${name} != 'Walt'" >
                   It's still a pleasure to meet you.<strong> <span th:text="${name}"></span></strong>
                </p>


            </div>




</body>
</html>