<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Frame</title>
</head>
<body>
        <h1>What's Up, <span th:text="${name}" style="background-color: cornflowerblue">Visitor</span>!</h1>
            <br>

<!--        This code below only displays the second line in the div -->
<!--        <div>-->
<!--            <span th:if="${name.equalsIgnoreCase(Walt)}" style="color: #401180">Walt</span>-->
<!--            <span th:unless="${name.equalsIgnoreCase(Walt)}" style="color: #801145">The name <b>Walt</b> was not entered!</span>-->

<!--        </div>-->

            <div>
                <p th:if="${name} == 'Walt'" style="background-color: aqua" > Hey <i> Walter </i> </p>
                <p th:unless="${name}">Aww... So you're not <b style="color: #c80730" > Walt </b> </p>
            </div>




</body>
</html>