<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Frame</title>
</head>
<body>
        <h1>What's Up, <span th:if="${name} == null" style="background-color: cornflowerblue">Visitor</span>!</h1>
            <br>


        <p> <span th:if="${name} == null"  style="color: darkorange">It's still a pleasure to meet you, <i>Visitor </i></span>


        </p>



            <div>
                <p th:if="${name} == 'Walt'"> Hey <i> <span style="color: blueviolet"> Walter </span> </i> !</p>

            </div>



            <div>

                <p th:if="${name} != 'Walt'">Aww... So you're not <b style="color: #c80730" > Walter!
                </b></p>




                <p th:if="${name} != null" >
                   It's still a pleasure to meet you,<strong> <span th:text="${name}"></span></strong>
                </p>


            </div>




</body>
</html>