<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-head('Hello Page')"></head>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNav('Wed')">
    This div will be *replaced* by the fragment
</nav>

<div th:include="fragments/navbar :: mainNav('Tuesday')">
    The entire content of the partial will be *included* inside this div.
</div>

    <h1>Hello, <span th:text="${name}">World</span>!</h1>

<h2>List of Students</h2>

<ol>
    <li th:each="aName : ${nameList}" th:text="${aName}"></li>
</ol>

<h1>Hello, <span th:text="${aName}">ANAME</span>!</h1>


</body>
</html>