<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: main-head('Roll Dice Page')"></head>
<body>

    <h1>Guess a number</h1>


    <div class="container">

        <p th:text="${guess}"></p>
        <p th:text="${randomNum}"></p>

        <p th:text="${guess}"></p>
        <p th:text="${randomNum}"></p>

        <p th:if="${isCorrect}">You guessed right</p>
        <p th:if="${!isCorrect}">You guessed wrong</p>

        <p th:if="${isCorrect}">You guessed right</p>
        <p th:if="${!isCorrect}">You guessed wrong</p>

        <a href="/roll-dice/1">1</a><a href="/roll-dice/2">2</a><a href="/roll-dice/3">3</a><a href="/roll-dice/4">4</a><a href="/roll-dice/5">5</a><a href="/roll-dice/6">6</a>

    </div>
    <footer th:replace="fragments/footer :: main-footer"></footer>
</body>
</html>